.inner {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
    max-width: rem(480px);
    margin-right: calc(var(--mantine-spacing-xl) * 3);

    margin-left: 100px;
    margin-top: 100px;
    @media (max-width: $ mantine-breakpoint-md) {
        max-width: 100%;
        margin-right: 0;
    }
}

.logo {
    fill: white;
}


.control {
    @media (max-width: $ mantine-breakpoint-xs) {
        flex: 1;
    }
}

.image {
    width: rem(376px);
    height: rem(356px);

    @media (max-width: $ mantine-breakpoint-md) {
        display: none;
    }
}

.highlight {
    position: relative;
    background-color: var(--mantine-color-green-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
}

.heroCanvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
